.list-customized-content { display: block; width: 100%; position: relative; cursor: pointer; }
.list-customized-content .list-customized-text { border-radius: 2px; border: solid 1px #CCC; color: #777; padding: 10px; display: inline-block; background-color: #FFF; width: 100%; white-space: nowrap; }
.list-customized-content span { overflow: hidden; width: calc(100% - 24px); display: inline-block; vertical-align: top; text-overflow: ellipsis; }
.list-customized-content i.fa-chevron-down { margin-left: 10px; }
.list-customized-content.open i.fa-chevron-down { transform: rotate(180deg); }
.list-customized-content ul { background-color: #FFF; min-width: 100%; position: absolute; top: 100%; overflow: hidden; height: 0; list-style: none; margin: 0; left: 0; padding: 0; -webkit-transition: all .5s cubic-bezier(.215,.61,.355,1); -moz-transition: all .5s cubic-bezier(.215,.61,.355,1); -o-transition: all .5s cubic-bezier(.215,.61,.355,1); transition: all .5s cubic-bezier(.215,.61,.355,1); -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,.4); box-shadow: 2px 2px 3px 0 rgba(0,0,0,.4); }
.list-customized-content.open ul { height: 200px; overflow: auto; }
.list-customized-content li { padding: 10px; margin-right: 15px display: block; width: 100%; white-space: nowrap; }
.list-customized-content li:hover,
.list-customized-content li.active { background-color: #DDD; }
.list-customized-content li.lab:hover { background-color: inherit; cursor: default; }
.list-customized-content li.sub { padding-left: 25px; }
.list-customized-content li i { opacity: 0; margin-right: 5px; }
.list-customized-content li.active i { opacity: 1; }
@media (max-width: 440px){
	.list-customized-content ul { position: fixed; width: 80%; height: 0; top: 50%; left: 10%; z-index: 999999; min-width: initial; -webkit-box-shadow: 0px 0px 3px 0 rgba(0,0,0,.4); box-shadow: 0px 0px 3px 0 rgba(0,0,0,.4); }
	.list-customized-content.open ul { height: 80%; top: 10%; }
	.list-customized-content.open ul::after { content: ''; position: fixed; z-index: -1; left: 0; top: 0; width: 100vw; height: 100vh; background-color: rgba(0,0,0,.8); }
	.list-customized-content li,
	.list-customized-content li:hover { background-color: #FFF; }
}